.App {
  text-align: center;
}
form{
  width: 40%;
  position: relative;
  margin: auto;
  line-height: 1.9;
}
.details{
  width: 80%;
  margin: 20px auto;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.details div {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  width: 250px;
  padding: 10px;
  text-align: left;
}